{% extends "base.html" %}
{% load basic_profile_tags %}
{% load i18n %}

{% load thumbnail %}
{% load pagination_tags %}
{% load poll_tag %}
{% block header %}
<br/>
<strong>{% trans "Cellphone Stories" %}</strong><br><br>
{% endblock %}
{% block body %}
{% profilepreference display_mxit_images %}
    {% if story.series %}
        <img width="115" height="19" alt="x" src="{% thumbnail story.series.banner 115x19 crop %}" />
    {% else %}
        {% if story.image %}
            <img width="40" height="40" alt="x" src="{% thumbnail story.image 40x40 crop %}" />
        {% endif %}
    {% endif %}
{% else %}
    {% if story.series %}
        {{story.series.title|upper}}
    {% endif %}
{% endprofilepreference %}
<br>
<strong>{{ story }}</strong><br><br>
{% for chapter in chapters %}
<a href="{% url chapter_page chapter.id %}?p={{ forloop.counter }}">{{ chapter }}</a><br>
{% endfor %}
<br>
<a href="{% url story story.id %}">{% trans "Back" %}</a>
{% endblock %}