{% extends "base.html" %}
{% load basic_profile_tags %}

{% load thumbnail %}
{% load i18n %}
{% load pagination_tags %}
{% load poll_tag %}
{% block header %}
<br/>
<strong>{% trans "Cellphone Stories" %}</strong><br><br>
{% endblock %}
{% block body %}
{% profilepreference display_mxit_images %}
    {% if story.series %}
        <img width="115" height="19" alt="x" src="{% thumbnail story.series.banner 115x19 crop %}" />
    {% else %}
        {% if story.image %}
            <img width="40" height="40" alt="x" src="{% thumbnail story.image 40x40 crop %}" />
        {% endif %}
    {% endif %}
{% else %}
    {% if story.series %}
        {{story.series.title|upper}}
    {% endif %}
{% endprofilepreference %}
<br>
<strong>{{ story }}</strong><br><br>

<strong>{% trans "REVIEWS:" %}</strong><br />
{% if reviews %}
	{% autopaginate reviews 3 %}
	<br>
	{% for review in reviews %}
        <strong>{% if review.user.first_name %}{{ review.user.first_name }}{% else %}{% trans "Anonymous" %}{% endif %}</strong><br />
	    {{ review.created|date:"j M Y" }}<br />
	    {{ review.review }}<br />
	    <br/>
	{% endfor %}
	{% paginate %}<br/><br/>
{% else %}
	<i>{% trans "No reviews posted." %}</i><br/>
{% endif %}
<a href="{% url review story.id %}">{% trans "Post your review" %}</a><br>


<br>
{% if not back %}
<a href="{% url story story.id %}">{% trans "Back" %}</a>
{% else %}
<a href="{{ back }}">{% trans "Back" %}</a>
{% endif %}
<br/><br/>
{% endblock %}