{% extends "admin/base_site.html" %}
{% load munin_tags %}
{% load i18n %}

{% block title %}Traffic Graph for {{category}}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans 'Home' %}</a>
        &rsaquo; Traffic Graphs
    </div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1 id="traffic_graph_for_{{category}}">Traffic graphs for {{category}}</h1>
    <h2>Daily graph</h2>
    <p>
      <img src="{% munin_graph category day %}">
    </p>
    <h2>Weekly graph</h2>
    <p>
      <img src="{% munin_graph category week %}">
    </p>
    <h2>Monthly graph</h2>
    <p>
      <img src="{% munin_graph category month %}">
    </p>
    <h2>Yearly graph</h2>
    <p>
      <img src="{% munin_graph category year %}">
    </p>
</div>
{% endblock %}