{% extends "site_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load pagination_tags %}

{% block head_title %}{% trans "Stories" %}{% endblock %}

{% block body %}
<h1>
  <a href="{% url genres %}">Books</a>&nbsp;&raquo;&nbsp;{{ story.genre }}
</h1>
<div id="story">
  <dl>
    <dt>
      <img width="40" height="40" alt="x" src="{% thumbnail story.image 40x40 crop %}" />
    </dt>
    <dd>
      <span class="author">{{ story.author }}</span><br />
      {{ story }}
    </dd>
  </dl>
{% autopaginate downloads 5 %}
{% for download in downloads %}
    {% ifequal download.type 'image' %}
    <a href="{% url story_download download.id %}"><img width="40" height="40" src="{% thumbnail download.download 40x40 crop %}" /></a><br>
    {% endifequal %}
    {% ifequal download.type 'video' %}
    <a href="{% url story_download download.id %}">{{ download }}</a><br>
    {% endifequal %}
{% endfor %}
{% paginate %}
</div>
{% endblock %}