{% extends "site_base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Stories" %}{% endblock %}

{% block body %}
    {% autopaginate stories 5 %}
    {% if genre %}
    <div id="breadcrumb">
        <a href="{% url genres %}">Books</a>&nbsp;&raquo;&nbsp;{{ genre }}
    </div>
    {% endif %}

    <div id="stories">
    {% for story in stories %}
      <dl>
        <dt>
          <img width="36" height="36" alt="x" src="{% thumbnail story.image 36x36 crop %}" />
        </dt>
        <dd>
          <span class="author">{{ story.author }}</span><br />
          <a href="{% url story story.id %}">{{ story }}</a>
        </dd>
      </dl>
    {% endfor %}
    </div>

    {% paginate %}
{% endblock %}
