{% extends "site_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load thumbnail %}
{% load poll_tag %}

{% block body %}
<div id="updates">
  
  <p>
      <span class="teal">*</span><span id="">Hello</span><span class="teal">#</span>
      GlowMob cellphone stories are short, hip and free. Read them, leave 
      comments and vote. Some of our stories are published every day -- like 
      a soapie on your phone. New stories are published on the 1st of every 
      month.
  </p>
  {% if announcements or competitions %}
  <ul class="list">
    {% for announcement in announcements %}
	<li>
	  <a href="{% url announcement announcement.id %}">{{ announcement.announcement }}</a>
	</li>
    {% endfor %}
    {% for competition in competitions %}
        <li class="featured">
            <a href="{% url site_competition competition.pk %}">{{ competition.title }}</a>
        </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% if stories.exists %}
    <div id="content">
      <div class="heading">
        {% ifequal active_filter "new" %}
            <span class="home_list_title">{% else %}<a href="{% url home %}">{% endifequal %}<span class="pink">*</span>Latest Stories<span class="pink">#</span>{% ifequal active_filter "new" %}</span>{% else %}</a>
        {% endifequal %}
      </div>
      <ul class="list books">
    {% for story in stories %}
        <li>
        {% if story.series %}
          <div class="sub-heading">
            <img src="{% thumbnail story.series.banner 100x20 crop %}" alt="" width="100" height="20" />
            <br class="clear" />
          </div>
        {% else %}
        	{% if story.image %}		
                <img src="{% thumbnail story.image 49x70 crop %}" width="49" height="70" alt="" />
    	  	{% else %}
                <img src="{{STATIC_URL}}img/mobile/nopic.jpg" width="49" height="59" alt="No Image Available" />	
    	  	{% endif %}

        {% endif %}
    	  <!--span class="author">{{ story.author }}</span><br /-->
    	  <a class="title" href="{% url story story.id %}">{{ story }}</a>
          <p>{{ story.short_description }}</p>
          <div class="share_box story_share">
        </div>
        </li>
    {% endfor %}
      </ul>
    </div>
{% endif %}

{% if features %}
<div id="updates">
  <h2>Featured</h2>
  <ul class="list books">
    {% for feature in features %}
	<li>
		{% if feature.content_object.image %}		
		<img src="{% thumbnail feature.content_object.image 49x70 crop %}" width="49" height="70" alt="" />
	  	{% else %}
	  		<img src="{{STATIC_URL}}img/mobile/nopic.jpg" width="49" height="59" alt="No Image Available" />	
	  	{% endif %}
	  	{% if feature.content_type.model == 'story' %}
	   		<span class="author">{{ feature.content_object.author }}</span><br />
	  		<a class="title" href="{% url apps.story.views.story feature.content_object.id %}">{{ feature.content_object }}</a>
	  	{% else %}
	  		<a class="title" href="{% url apps.story.views.chapter feature.content_object.id %}">{{ feature.content_object }}</a>
	  	{% endif %}
	  	<br />
	</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block poll %}
	{% show_poll request user story %}
{% endblock %}
