{% extends "site_base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block body %}
<div id="content">
  <div class="heading">
    <span>Books</span><span class="divider">&raquo;</span><a href="{% url story story.id %}">{{ story }}</a>
  </div>
  <ul class="single books">
	<li>
      <img src="{% thumbnail story.image 49x70 crop %}" width="49" height="70" alt="" />
      <span class="author">{{ story.author }}</span><br />
      <a class="title" href="{% url story story.id %}">{{ story }}</a>
	</li>
  </ul>
</div>
<div class="box">
  <h2>Share</h2>
  <p>
	<b>Tell your friends on:</b><br />
	<a id="facebook" href="http://www.facebook.com/sharer.php?u=http://{{ domain }}{% url story story.id %}"><img src="{{ STATIC_URL }}img/mobile/facebook.jpg" alt="" /></a>
    <a id="twitter" href="http://twitter.com/?status=http://{{ domain }}{% url story story.id %}"><img src="{{ STATIC_URL }}img/mobile/twitter.jpg" alt="" /></a>
  </p>
  <br class="clear" />
</div>
{% endblock %}