{% extends "base.html" %}
{% load basic_profile_tags %}

{% load thumbnail %}
{% load pagination_tags %}
{% load poll_tag %}
{% block header %}
<br/>
<strong>Cellphone Stories</strong><br><br>
{% endblock %}
{% block body %}
{% if story.series %}
    <img width="115" height="19" alt="x" src="{% thumbnail story.series.banner 115x19 crop %}" />
{% else %}
    {% if story.image %}
        <img width="40" height="40" alt="x" src="{% thumbnail story.image 40x40 crop %}" />
    {% endif %}
{% endif %}
<br>
<strong>{{ story }}</strong><br><br>

<strong>COMMENTS:</strong><br />
{% if comments %}
	{% autopaginate comments 3 %}
	<br>
	{% for comment in comments %}
        {% if comment.name %}
        <strong>{{ comment.name }}</strong><br />
        {% else %}
            {% if comment.user %}
        <strong>{{ comment.user.first_name|default:"Anonymous" }}</strong><br />
            {% endif %}
        {% endif %}
	    {{ comment.date_submitted|date:"j M Y" }}<br />
	    {{ comment.comment }}<br />
	    <br/>
	{% endfor %}
	{% paginate %}<br/><br/>
{% else %}
	<i>No comments posted.</i><br/>
{% endif %}
<a href="{% url comment story.id %}">Post your comment</a><br>


<br>
{% if not back %}
<a href="{% url story story.id %}">Back</a>
{% else %}
<a href="{{ back }}">Back</a>
{% endif %}
<br/><br/>
{% endblock %}