{% extends "site_base.html" %}
{% load i18n %}
{% load account_tags %}

{% block body %}
{% if user.is_authenticated %}
<p><span class="warning">{% trans "Note" %}</span>: {% user_display user as user_display %}{% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
{% endif %}
<p>Enter your email address below to have your password sent to you. Or, return to <a href="{% url acct_login %}">log in.</a></p>
<div id="content">
  <h2>{% trans "Password Reset" %}</h2>
  <div class="padding-wrap">
    <form method="POST" id="login" action="{% url acct_passwd_reset %}">
	  <fieldset>
    {% csrf_token %}
    {% for field in password_reset_form.visible_fields %}
        {{ field.errors }}
        {{ field.label_tag }}<br class="clear" />
        {{ field }}<br class="clear" />
    {% endfor %}
		<input type="submit" id="recover-submit" value="Send Password" />
	  </fieldset>
	</form>
  </div>
</div>
<p>Need Help? <a href="{% url contact %}">Contact us</a> if you need help with your account.</p>
{% endblock %}
{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
