{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
<div id="content">
  <h2>Terms &amp; Conditions</h2>
  <div class="padding-wrap">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum vestibulum mi sed convallis. Aliquam orci tortor, mollis id mollis vitae,
		convallis non felis. Integer id sollicitudin erat. Nunc aliquet viverra mauris ut tincidunt.
		Morbi eleifendnibh eget mauris elementum
	</p>
	<p>
		tincidunt. Sed et orci velmagna volutpat volutpat nec id magna. Nam egestas orci sed mi pharetra pharetra. Aenean pharetra, est eu elementum
		ullamcorper, diam quam pharetra enim, eget sodales felis metus vitae mi.
	</p>
	<p>
		Nulla lacinia semper tempus. Etiam consequat, nisl quiscursus rhoncus, est augue suscipit urna, non laoreeterat neque vehicula leo. Curabitur at
		dolor vitae leo ultricies convallis.
	</p>
	<p>
		Pellentesque vehicula, felis atvehicula tincidunt, justo urna pretium odio, sed egestas neque felis et tortor. Vestibulum quis lorem quam, et
		cursus neque. Aliquama enim vel orci ultrices mollis. Nu aliquet viverra mauris ut tincidunt.
	</p>
	<p>
		Morbi eleifendnibh eget mauris elementum tincidunt. Sed et orci velagna volutpat.
	</p>
  </div>
</div>
{% endblock %}